body {
    font-family: Arial, Verdana, sans-serif;
    color: #111;
  }

div {
    border: 2px solid #e7642c;
    width: 200px;

}
  
h2, p {

    width: 200px;
    font-size: 90%;
    line-height: 1.2em;
}
  
  