body {
  background-color: #c8c8c8;
  background-color: hsl(0, 0%, 78%);
  padding: 20px;
}

h1 {
  background-color: darkcyan;
}

h2 {
  background-color: #ee3e80;
}

p {
  background-color: #fff;
  background-color: hsla(0, 100%, 100%, 0.5);
}
